---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../assets/myimage.webp";
import astronautaimg from "../assets/astronautaindex.webp";
import AbilityIcon from "../components/AbilityIcon.astro";
import abilityLang from "../mocks/abilityLang.json";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../mocks/projects.js";
import Icon from "astro-icon";
---

<Layout>
	<section
		class="landing-hero md:flex-row flex-col h-4/5 flex items-center pt-10 overflow-hidden"
		id="home"
	>
		<div
			class="flex-1 font-bold lg:w-64 w-full mt-32 h-max flex flex-col md:my-20 gap-2 justify-center items-center"
		>
			<Image
				src={myImage}
				class="w-40 h-40 object-cover rounded-full my-3"
				alt="myimage"
			/>
			<h2 class="text-4xl mb-2">¡Hola!, Soy</h2>
			<h1
				class="text-5xl p-2 w-[10.8ch] text-center animated-text-write capitalize"
			>
				Samuel Aya
			</h1>
			<p class="text-xl opacity-50 mt-2">Desarrollador FullStack</p>
			<div class="flex gap-2 my-5">
				<a
					aria-label="Email"
					target="_blank"
					href="mailto:saidsamuel2006@hotmail.com"
					rel="noreferrer"
				>
					<Icon
						name="fluent:mail-16-filled"
						class="w-11 transition-colors border-b-2 border-transparent hover:border-white duration-300"
					/>
				</a>
				<a
					aria-label="GitHub"
					target="_blank"
					href="https://github.com/shogunIncognito"
					rel="noreferrer"
				>
					<Icon
						name="mdi:github"
						class="w-11 transition-colors border-b-2 border-transparent hover:border-white duration-300"
					/>
				</a>
				<a
					aria-label="LinkedIn"
					target="_blank"
					href="https://www.linkedin.com/in/samuel-aya/"
					rel="noreferrer"
				>
					<Icon
						name="mdi:linkedin"
						class="w-11 transition-colors border-b-2 border-transparent hover:border-white duration-300"
					/>
				</a>
			</div>
		</div>
		<div
			class="flex-1 font-bold lg:w-64 w-full m-10 md:ml-36 h-[70dvh] flex flex-col mb-20 gap-2 justify-center items-center"
		>
			<div class="flex w-full justify-center items-center">
				<Icon name="teenyicons:nextjs-solid" class="animate-pulse transition-all w-36 my-10 self-center" />
			</div>
			<p
				class="text-2xl max-w-[20ch] md:max-w-[45ch] opacity-90 leading-9 animated flex flex-col"
			>
				En busca de la creación de soluciones tecnológicas innovadoras.
			</p>
			<p
				class="text-2xl max-w-[20ch] md:max-w-[45ch] opacity-90 leading-9"
			>
				Con mi pasión por la programación deseo resolver problemas del
				mundo real.
			</p>
			<div class="flex gap-2 w-52 lg:flex-row flex-col justify-center">
				<a
					aria-label="Certificaciones"
					href="/certificaciones"
					class="border-2 px-6 py-3 rounded-md hover:bg-white transition-colors duration-300 hover:text-black mt-1 lg:mt-4"
					>Certificaciones</a
				>
				<a
					aria-label="CV"
					href="/cv"
					class="border-2 px-6 py-3 rounded-md hover:bg-white transition-colors duration-300 hover:text-black mt-1 lg:mt-4"
					>CV</a
				>
			</div>
		</div>
	</section>

	<section
		class="flex px-8 flex-col md:flex-row w-full justify-center items-center"
	>
		<div
			class="flex justify-center items-center rotate-[220deg] md:rotate-0 md:scale-x-[-1]"
		>
			<Image
				src={astronautaimg}
				alt="astronautimg"
				class="animate-pulse pb-10 md:pt-28 md:w-72 w-60"
			/>
		</div>
		<div
			class="flex-1 sm:max-w-lg md:max-w-2xl lg:max-w-3xl flex flex-col gap-4 text-xl justify-center items-center"
		>
			<p>
				Enfocado en el Frontend y Backend, con experiencia en el
				desarrollo de aplicaciones web. Conocimientos en tecnologías
				como
				<span class="text-[#61DAFB]">React</span>,
				<span class="text-[#afa3a3]">Next.js</span>,
				<span class="text-[#98BD3D]">Node.js</span>,
				<span class="text-[#ff4632]">NestJS</span>,
				<span class="text-[#4DB33D]">MongoDB</span>, entre otras. Me
				apasiona la programación y la resolución de problemas.
			</p>
			<p>
				Actualmente me encuentro en la búsqueda de nuevas oportunidades,
				donde pueda aportar mis conocimientos y habilidades para el
				desarrollo de soluciones tecnológicas.
			</p>
		</div>
	</section>

	<section id="projects" class="p-10 flex flex-col w-full">
		<h1 class="text-4xl text-center opacity-80 font-bold my-16">
			Proyectos
		</h1>
		<div
			class="grid overflow-auto lg:max-h-full max-h-[70dvh] justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-5 lg:mx-[8%]"
		>
			{projects.map((project) => <ProjectCard project={project} />)}
		</div>
	</section>

	<section class="mb-20 pt-16" id="ability">
		<h2 class="text-center mx-2 text-3xl opacity-80 font-bold my-10">
			Herramientas y Tecnologías
		</h2>

		<div class="flex flex-col md:flex-row gap-20 h-full md:mx-16 lg:mx-48">
			<article class="flex flex-1 flex-col text-center gap-10">
				<div
					class="p-5 grid items-center place-items-center grid-col-res"
				>
					{
						abilityLang.mostUsed.map((lang) => (
							<div class="text-center flex flex-col items-center justify-self-center">
								<AbilityIcon name={lang.name} />
								<h2 class="mt-5 whitespace-nowrap">
									{lang.title}
								</h2>
							</div>
						))
					}
				</div>
			</article>
		</div>
	</section>
</Layout>
