---
import Icon from "astro-icon";
import { getLangFromUrl } from "../i18n/utils";

const path = Astro.url.pathname;
const lang = getLangFromUrl(Astro.url);
const pathWithoutLang = path.replace(`/${lang}`, "");

const { className = "" } = Astro.props;
---

<div class={`z-50 flex gap-1 ${className}`}>
    <a href={pathWithoutLang}>
        <Icon
            name="openmoji:flag-spain"
            class:list={[
                "w-8 sm:w-12",
                { "bg-gray-300/30 rounded-lg": path === pathWithoutLang },
            ]}
        />
    </a>
    <a href={`/en${pathWithoutLang}`}>
        <Icon
            name="openmoji:flag-united-states"
            class:list={[
                "w-8 sm:w-12",
                {
                    "bg-gray-300/30 rounded-lg":
                        path === `/en${pathWithoutLang}`,
                },
            ]}
        />
    </a>
</div>
